@import "../../assets/style.less";
.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    float: left;
  }
  
  td {
    text-align: left;
    padding: 8px;
    font-size: 32px;
    border: 1px solid #ffffff;
  }
  
  th {
    text-align: left;
    padding: 8px;
    font-size: 32px;
    background-color: rgb(117, 201, 250);
    border: 1px solid #ffffff;
  }
  
  tr.approved {
    background-color: lightgreen;
  }

  tr.approved:hover {
    background-color: rgb(171, 238, 171);
  }

  tr.rejected {
    background-color: lightcoral;
  }

  tr.rejected:hover {
    background-color: rgb(237, 150, 150);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }
  
  summary {
    float: right;
    text-align: right;
  }