@import "../../assets/style.less";

.right-column {
  float: right;
  width: 45%;
  margin-right: 1.5%;
}

.view-post {
  padding: 10px;
  background-color: #colors[tertiary];
  color: #colors[text-primary];
}

.left-text {
  text-align: left;
  font-size: 120%;
}

.preview {
  width: 40%;
  display: flex;
}
